# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
ENV/

# Django Stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Migrations
*/migrations/
!*/migrations/__init__.py

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
